
html, body {
  height: 100%;
  margin: 0;
}

body, #root, #app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.stretch {
  width: 100%;
  height: 100%;
  min-height: 600px;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.board-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.leaflet-container {
  height: 100%;
  flex-grow: 1;
  background: rgb(18, 18, 18);
}

.controls {
  width: 420px;
  height: 100%;
  float: right;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;

  color: white;
}

#file-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

#import-wrapper {
  padding-left: 8px;
  padding-right: 8px;
}

#import-seed-area{
  margin-bottom: 16px;
}

#pickup-controls {
  width: 100%;
  margin-bottom: 16px;
}

#pickup-controls .label {
  width: 90px;
}

#pickup-controls > .pickup-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

#pickup-controls > .pickup-wrapper > div {
  flex-grow: 1;
}

#fill-params {
  width: 100%;
}

.fill-wrapper {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.fill-wrapper > .react-numeric-input {
  width: 80px;
}

#fill-params > .checkbox-label {
  width: 100%;
}

#display-controls {
  width: 100%;
  margin-bottom: 16px;
}

#display-controls .label {
  width: 90px;
}

#display-flags {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

#logic-controls {
  width: 100%;
  margin-bottom: 16px;
}

#logic-mode-wrapper {
  width: 100%;
  margin-bottom: 16px;
}

#logic-mode-wrapper .label {
  width: 90px;
}

#manual-controls {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}

.manual-wrapper {
  width: 100%;
  height: 100%;
  margin-bottom: 4px;
  display: flex;
  align-content: center;
}

.manual-wrapper .label {
  width: 90px;
}

.manual-wrapper .react-numeric-input {
  flex-grow: 1;
}

.manual-wrapper > div {
  flex-grow: 1;
}

#logic-mode-controls {
  width: 100%;
}

#logic-presets {
  width: 100%;
  display: flex;
  align-content: center;
  margin-bottom: 4px;
}

#logic-presets > div {
  flex-grow: 1;
}

#logic-options-wrapper {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}

#logic-options {
  width: 100%;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  justify-content: space-between;
}

.basic-coop-options {
  width: 100%;
  display: flex;
  align-content: center;
  margin-bottom: 4px;
}

.basic-coop-options .label{
  width: 90px;
  margin-left: 10px;
  margin-top: 5px;
}
.basic-coop-options .Select{
  width: auto;
}
#coop-wrapper {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}

.coop-select-wrapper {
  width: 100%;
  height: 36px;
  margin-bottom: 4px;
  display: flex;
  align-content: center;
}

.coop-select-wrapper .label {
  width: 90px;
}

.coop-select-wrapper > div {
  flex-grow: 1;
}

#flag-controls {
  width: 100%;
  display: flex;
  align-content: center;
  margin-bottom: 16px;
}

#flag-controls .label{
  width: 90px;
}

#search-wrapper {
  width: 100%;
  margin-bottom: 16px;
}

#map-controls {
  width: 100px;
  margin-top: 16px;
  margin-bottom: 16px;
}

#player-controls {
  width: 100%;
  margin-bottom: 4px;
}

.player-wrapper {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}

.player_name {
  display: block;
  width: 100%;
}

.player-options {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 2px;
  justify-content: space-between;
}

#pickup-wrapper {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: space-between;
}

.radio-label {
	padding-left: 4px;
	padding-right: 4px;
}
.control-label {
  width: 100%;
}

#map-controls {
  width: 100%;
  margin-bottom: 4px;
}

.react-confirm-alert-body > h1 {
	color: #666;
	font-size: 28px;
	font-weight: 700;
}